*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font;
    src: url(font.otf);
}
body
{
    background-image: url(Images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.side
{
    width: auto;
    height: 90vh;
    position: fixed;
    top:30px;
    left: 10px;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 15px;
    box-shadow: 0 20px 35px;
}
.logo
{
    align-items: center;
    font-family: font;
    letter-spacing: 4px;
}
.logo a img
{
    height: 150px;
    width: auto; 
    padding-left: 50px;  
}
.side ul
{
    list-style: none;
    cursor: pointer;
    padding-top: 20px;
}
.side ul li p
{
    font-size: 20px;
    padding:15px;
    color: black;
} 
.side ul li p:hover
{
    color: #1db945;
    transition: 0.5s;
}
/*sidebar finished*/
.content
{
    padding-top: 50px;
    margin-left: 50vh;
}
.content .card
{
    width: 25%;
    margin: 10px;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px;
}
.sec
{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
}
.content h2
{
    text-transform: uppercase;
    font-family: font;
    letter-spacing: 10px;
    font-size: 40px;
    display: flexbox;
    color: red;
}
.card h3
{
    font-weight: bold;
    font-size: 25px;
}
.card p
{
    text-transform: capitalize;
    padding: 10px;
    font-size: 15px;
    color: orangered;
}
.card a
{
    color: blue;
    text-decoration: none;
}
.report
{
    padding-top: 20px;
    margin-left: 50vh;
    padding-bottom: 20px;
}
.report h2
{
    color: #1db945;
    font-size: 30px;
    text-transform: uppercase;
}
.box
{
    width: auto;
    margin: 10px;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px;
}
.box h3
{
    font-size: 25px;
    font-family: 'times new roman';
    text-decoration: wavy;
    color:darkmagenta;
}